// Body
$body-bg: #F5F8FF;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.7rem;
$line-height-base: 1.6;


$enable-shadows: true;
$enable-gradients: true;
$enable-rounded: true;

// $card-bg: #28293D;
// $card-color: white;
// $card-cap-color: white;